@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
  margin:0;
  padding-top:10vh;
  width:100vw;
  transition-duration: 300ms;
  --offset: 187;
  --duration: 1.4s;
}

#masked-text{
  mask: url("../assets/mask.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: black;
  height:50rem;
}

#masked-text-small{
  mask: url("../assets/mask.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  background-color: black;
  height:17rem;
}