body{
  margin:0;
  padding-top:10vh;
  width:100vw;
  transition-duration: 300ms;
}
h1{
  text-align: center;
}

#masked-text{
  mask: url("../assets/mask.svg");
  mask-size: contain;
  mask-repeat: no-repeat;
  height:90vh;
  margin-bottom: 10vh;
}