@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
--b300: #3d5a80ff;
--b200: #98c1d9ff;
--b100: #e0fbfcff;
--r100: #ee6c4dff;
--b400: #293241ff;

}

body{
  margin:0;
  padding:0;
  width:100vw;
  transition-duration: 300ms;
}
h1{
  text-align: center;
}

.stack{
  display:flex;
  flex-direction: column;
}

.navBar{
  height:10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slim{
  height:5vh;
  justify-content: space-between;
}

.textButton{
  background: #ffffff;
  border:none;
  height:100%;
  flex:1 1 0;
  text-decoration: underline;
  font-size: large;
  font-family: "Roboto", sans-serif;
  transition-duration: 300ms;
}

.textButton:hover{
  border:none;
  height:100%;
  cursor: pointer;
}

.one:hover{
  background-color: var(--b100);
}
.two:hover{
  background-color: var(--b200);
}
.three:hover{
  background-color: var(--b300);
  color: #ffffff;
}
.four:hover{
  background-color: var(--r100);
}
.five:hover{
  background-color: var(--b400);
  color:#ffffff;
}

.card{
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 1.5px 1.5px 1.5px 1.5px #444444;
  width:50vw;
  border-radius: 10px;
}

.center{
  align-items: center;
  padding-top: 5vh;
}

#img-text{
  mask: url("./inverse_mask.svg");
  mask-repeat: no-repeat;
  mask-position: top;
  mask-size: 90vw;
  height:87vh;
}

#img-text:hover{
  mask: linear-gradient(to right,black)
}


:root::-webkit-scrollbar{
  width:0;
}

:root::-webkit-scrollbar:hover{
  width:10px;
}