@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

:root{
--b300: #3d5a80ff;
--b200: #98c1d9ff;
--b100: #e0fbfcff;
--r100: #ee6c4dff;
--b400: #293241ff;

}

body{
  margin:0;
  padding:0;
  width:100vw;
  transition-duration: 300ms;
}
h1{
  text-align: center;
}

table{
  border: solid 1px var(--b400);
  border-collapse: collapse;
}
td{
  margin:0;
  padding:0;

}

tr:nth-child(even){
  background: var(--b200);
}

tr:nth-child(even):hover{
  background: var(--b300);
}

tr:nth-child(odd):hover{
  background: var(--b100);
}

#table-border{
  border:1px black solid;
  border-radius: 5px;
}

.stack{
  display:flex;
  flex-direction: column;
  height:100%;
}

.navBar{
  height:10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.slim{
  height:5vh;
  justify-content: space-between;
}

.textButton{
  background: #ffffff;
  border:none;
  height:100%;
  flex:1 1 0;
  text-decoration: underline;
  font-size: large;
  font-family: "Roboto", sans-serif;
  transition-duration: 300ms;
}

.textButton:hover{
  border:none;
  height:100%;
  cursor: pointer;
}

.one:hover{
  background-color: var(--b100);
}
.two:hover{
  background-color: var(--b200);
}
.three:hover{
  background-color: var(--b300);
  color: #ffffff;
}
.four:hover{
  background-color: var(--r100);
}
.five:hover{
  background-color: var(--b400);
  color:#ffffff;
}

.card{
  display:flex;
  flex-direction: column;
  background-color: #ffffff;
  box-shadow: 1px 1px 1.5px 1.5px #aaaaaa;
  width:35vw;
  border-radius: 10px;
  padding-bottom: 2vh;
}

.center{
  align-items: center;
  padding-top: 5vh;
  justify-content: space-between;
}

.row{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  width:90vw;
  height:100%;
}

#img-text{
  mask: url("./inverse_mask.svg");
  mask-repeat: no-repeat;
  mask-position: top;
  mask-size: 90vw;
  height:87vh;
}

#img-text:hover{
  mask: linear-gradient(to right,black)
}


:root::-webkit-scrollbar{
  width:0;
}

:root::-webkit-scrollbar:hover{
  width:10px;
}

.background{
  z-index: -1;
  position:absolute;
  top:5vh;
  height:95vh;
  width:100%;
}

.background > *{
  z-index: inherit;
}

#vario{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(224,251,252,1) 10%, rgba(149,177,195,1) 48%, rgba(61,90,128,1) 82%, rgba(41,50,65,1) 100%); 
  mask:url("./vario_wave_mask.svg");
  mask-size:cover;
}

#kontakt{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(158,173,192,1) 24%, rgba(61,90,128,1) 63%, rgba(41,50,65,1) 100%);
  mask:url("./vario_wave_mask.svg");
  mask-size:cover;
}

#matura{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(120,144,186,1) 27%, rgba(41,50,65,1) 72%, rgba(0,0,0,1) 100%); 
  mask:url("./vario_wave_mask.svg");
  mask-size:cover;
}

#wir{
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(238,108,77,1) 78%, rgba(166,69,48,1) 100%); 
  mask:url("./vario_wave_mask.svg");
  mask-size:100vh;
}


/* Make some kind of dual layout*/
#org{
  background: rgb(255,255,255);
  background: url("./square_tiles.svg");
  background-size: cover;
  filter: hue-rotate(20deg);
  display:flex;
}

#buchen{
  width:30vw;
  height:10vh;
}